<%= form_for(space, remote: true) do |f| %>
  <% if space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mdl-textfield mdl-js-textfield">
    <%= f.text_field :name, class: "mdl-textfield__input" %>
    <%= f.label :name, class: "mdl-textfield__label" %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= current_user.name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
