<h4 class="mdl-dialog__title mdl-dialog-title">New Space</h4>

<%= form_for(@space, remote: true) do |f| %>
    <div class="mdl-dialog__content mdl-dialog-content">
    <% if @space.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@space.errors.count, "error") %> prohibited this space from being saved:</h2>
    
        <ul>
            <% @space.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    
    <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield">
            <%= f.text_field :name, class: "mdl-textfield__input" %>
            <%= f.label :name, class: "mdl-textfield__label", for: "space_name" %>
        </div>
    </div>
    
</div>
<div class="mdl-dialog__actions mdl-dialog-actions">
    <%= button_to "Create", @space, :class => "mdl-button mdl-js-button mdl-button--raised mdl-button--colored", :remote => true  %>
    
    <%= link_to "Cancel", '#', :class => "mdl-button mdl-js-button mdl-button--raised", :onclick => "$(this).closest('.mdl-cell').remove(); return false;"  %>
    <!-- <button type="button" class="mdl-button">Agree</button>
    <button type="button" class="mdl-button close">Disagree</button> -->
</div>
<% end %>