<!--<a class="mdl-navigation__link" href="">Link</a> -->
<% Space.where(:user => current_user).order('updated_at desc').each do |space| %>
    <%= link_to space.name, space, class: "mdl-navigation__link" %>
<% end %>