<% content_for :title, "My Spaaaces" %>

<div class="mdl-grid" id="spaces">
  <% @spaces.each do |space| %>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-card mdl-shadow--4dp">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text"><%= space.name %></h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div><%= space.user.name %></div>
        <div><%= space.posts_count_text %></div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <%= link_to "Open", space, :class => "mdl-button mdl-js-button mdl-button--colored" %>
      </div>
    </div>
  </div>
  <% end %>
</div>


  <%= link_to new_space_path, :class => 'mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored floating_button', :remote => true do %>
  <i class="material-icons">add</i>
  <% end %>
