'use strict';

(function(){
  console.log("SHOWING MODAL");
  const dialog = document.querySelector('#dialog');

  console.log("DIAKLOG FOUND>?", dialog);

  // console.log("IS THERE A HTML?", dialog.html);
  // debugger;
  dialog.innerHTML = "<%= escape_javascript(render partial: 'new') %>";


  console.log("IS THERE A SHOWMODAL?", dialog.showModal);

  dialog.showModal();  
})();