<!-- <p id="notice"><%= notice %></p> -->

<div class="mdl-grid" id="posts">
  <div class="mdl-cell mdl-cell--12-col">
    <h2><%= @space.name %></h2>
    <h6>Created by <%= @space.user.name %></h6>
  </div>
<% @space.posts.each do |post| %>
  <%= render "posts/show", post: post %>
<% end %>
</div>


<%= link_to new_post_path(:space_id => @space.id), :class => 'mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored floating_button', :remote => true do %>
  <i class="material-icons">add</i>
<% end %>

