
<div class="mdl-cell mdl-cell--12-col">

    <div class="mdl-card mdl-shadow--2dp mdl-card-wide">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">New Post</h2>
      </div>
        <%= form_for(@post, remote: true) do |f| %>
      <div class="mdl-card__supporting-text">
            <% if @post.errors.any? %>
                <div id="error_explanation">
                <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

                <ul>
                <% @post.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
                </div>
            <% end %>

            <div class="field">
                <%= f.label :link %>
                <%= f.text_field :link %>
            </div>

            <%= f.hidden_field :space_id %>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <%= button_to "Create", @post, :class => "mdl-button mdl-js-button mdl-button--raised mdl-button--colored", :remote => true  %>
        <%= link_to "Cancel", '#', :class => "mdl-button mdl-js-button mdl-button--raised", :onclick => "$(this).closest('.mdl-cell').remove(); return false;"  %>
      </div>
      <% end %>
    </div>

  </div>
