<div class="mdl-cell mdl-cell--12-col">
  <div class="mdl-card mdl-shadow--2dp mdl-card-wide">
    <div class="mdl-card__title" style="<%= post.background_image_style %>">
      <h2 class="mdl-card__title-text"><%= post.title || post.link %></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <%= post.description %>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to "Open Link", post.link, target: "_blank", class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
      <%= link_to "Comments", space_post_url(post.space, post), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
    </div>
  </div>
</div>