<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @post.link %>
</p>

<p>
  <strong>Space:</strong>
  <%= @post.space %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
-->

<div class="mdl-cell mdl-cell--12-col">
  <div class="mdl-card mdl-shadow--2dp mdl-card-wide">
    <div class="mdl-card__title" style="<%= @post.background_image_style %>">
      <h2 class="mdl-card__title-text"><%= @post.title %></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <%= @post.description %>
    </div>
    <!-- <div class="mdl-card__actions mdl-card--border">
      <%= link_to "Open Post", space_post_url(@post.space, @post), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
    </div> -->
  </div>
</div>