/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// @import 'color-definitions';

// color pallette: https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=1565C0&secondary.color=F4511E
@import 'material/color-definitions';

$color-primary: $palette-blue-800 !default;

$color-primary-light: '94,146,243' !default;
$color-primary-dark: '0,60,143' !default;

// $color-secondary: $palette-deep-orange-700 !default;
// $color-secondary-light: '69,90,100' !default;
// $color-secondary-dark: '69,90,100' !default;

// $color-accent: '255,87,34' !default;
$color-accent: $palette-deep-orange-700 !default;

@import 'material';

.floating_button {
    float: right;
    position: fixed;
    z-index: 1000;
    bottom: 25px;
    right: 25px;
}

.mdl-card {
    min-height: 300px;
    width: 100%;
    &-wide {
        width: 80%;
        max-width: 800px;
        margin-left: 10%;
        margin-right: 10%;
    }
    &__title {
        background-color: unquote("rgb(#{$color-primary-light})");
        color: white;
    }
}


.mdl-dialog {
    width: 75%;
}