// Place all the styles related to the spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mdl-card-wide > .mdl-card__title {
  // color: #fff;
  height: 14em;
  background-position: center center;
  background-repeat: no-repeat;
}

.mdl-card {
  max-width: 360px;
}