<!DOCTYPE html>
<html>
    <div id="toast-notification" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
    <head>
        <title><%= yield(:title) %></title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <script type="text/javascript">
            window['_NOTICE'] = '<%= notice %>';
        </script>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title"><%= link_to yield(:title),  root_path , :class => "mdl-navigation__link mdl-layout-title" %></span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation. We hide it in small screens. -->
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <!-- <a class="mdl-navigation__link" href="">Link</a>
                        <a class="mdl-navigation__link" href="">Link</a>
                        <a class="mdl-navigation__link" href="">Link</a>
                        <a class="mdl-navigation__link" href="">Link</a> -->
                    <% if user_signed_in? %>
                        <%= link_to "Sign out ", destroy_user_session_path, :method => :delete, class: "mdl-navigation__link" %>
                    <% else %>
                        <%= link_to "Sign in", user_google_oauth2_omniauth_authorize_path, class: "mdl-navigation__link" %>
                    <% end %>
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Spaaace</span>
                <nav class="mdl-navigation">
                    <% if user_signed_in? %>
                        <%= render "spaces/spacemenu" %>
                        <%= link_to "Sign out ", destroy_user_session_path, :method => :delete, class: "mdl-navigation__link" %>
                    <% else %>
                        <%= link_to "Sign in", user_google_oauth2_omniauth_authorize_path, class: "mdl-navigation__link" %>
                    <% end %>
                    <!-- <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a> -->
                </nav>
            </div>
            <main class="mdl-layout__content">
                <div class="page-content">
                    <div class="mdl-grid">
                      <div class="mdl-cell mdl-cell--12-col">
                        <%= yield %>
                      </div>
                    </div>
                </div>

                <!-- Simple Textfield -->
                <%# <form action="#">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">Text...</label>
                </div>
                </form>
                <!-- Numeric Textfield -->
                <form action="#">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                    <label class="mdl-textfield__label" for="sample2">Number...</label>
                    <span class="mdl-textfield__error">Input is not a number!</span>
                </div>
                </form> %>
            </main>

            <dialog id="dialog" class="mdl-dialog"></dialog>
        </div>
    </body>
</html>
